@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models
@using System.Threading
@{
    var Lang = Thread.CurrentThread.CurrentUICulture.Name == "ar-AE";
}
@*@foreach (var node in Model)
    {
        @Html.DisplayFor(m => node);

        if (node != Model.Last())
        {
            <text> &gt; </text>
        }
    }*@
<ol class="breadcrumb">

    @foreach (var node in Model)
    {
        <li>
            <a href="@node.Url">
                @if (node == Model.First())
                {

                    <i class="fa fa-map-marker"></i>
                    if (Lang)
                    {
                        @Html.DisplayFor(m => node.Description)
                    }
                    else
                    {
                        @Html.DisplayFor(m => node)
                    }


                }
                else
                {
                    if (Lang)
                    {
                        @Html.DisplayFor(m => node.Description)
                    }
                    else
                    {
                        @Html.DisplayFor(m => node)
                    }
                    @*@Html.DisplayFor(m => node)*@

                }
            </a>
        </li>
        @*if (node != Model.Last())
        {
            <text> &gt; </text>
        }*@

    }


</ol>
