@using DocumentsExplorer.DTO;
@using System.Configuration;
@using DocumentsExplorerResources = DocumentsExplorer.Website.Resources.DocumentsExplorerResource;
@using SharedResources = DocumentsExplorer.Website.Resources.SharedResource;

@model CouncilMemberDTO
<div class="box box-success">
    <div class="box-header with-border">
        @if (Model.Id == 0)
        {
            <h3 class="box-title">@DocumentsExplorerResources.txtNewCouncilMemberTitle</h3>
        }
        else
        {
            <h3 class="box-title">@DocumentsExplorerResources.txtEditCouncilMemberTitle</h3>

        }
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    @using (Html.BeginForm("Create", "CouncilMember", FormMethod.Post,
                                      new { enctype = "multipart/form-data", @id = "CouncilMemberCreateFormId" }))
    {
    <div class="box-body">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(c => c.Id)
        @Html.HiddenFor(c => c.CreateDate)
        @Html.HiddenFor(c => c.CreatedBy)
        <div class="row">
            <div class="form-group">
                <div class="col-md-2"><label class="control-label">@DocumentsExplorerResources.txtCouncilTypeDescription</label></div>
                <div class="col-md-2">
                    @*@(Html.Kendo().DropDownListFor(c => c.CouncilTypeId)
                                 .Name("CouncilTypeId")
                                 .DataTextField("Description")
                                 .DataValueField("Id")
                                 .OptionLabel(DocumentsExplorerResources.txtCouncilTypeSelectValue)
                                 //.Events(e => { e.Change("onCouncilTypesChange"); })
                                 //.SelectedIndex(1)
                                 .DataSource(source =>
                                 {
                                     source.Read(read => { read.Action("ReadCouncilTypes", "CouncilMember"); });
                                 })
                                 .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
        )*@
                    @(Html.Kendo().MultiSelectFor(c => c.SelectedCouncilTypes)
                                         .Name("SelectedCouncilTypes")
                                         .DataTextField("Description")
                                         .DataValueField("Id")
                                         .Value(Model.CouncilTypes)
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("ReadCouncilTypes", "CouncilMember");
                                              })
                                              .ServerFiltering(true);
                                          })
                                         .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                    )
                </div>
            </div>
           
        </div>

        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-2"><label class="lbl-in-row"> @DocumentsExplorerResources.txtFullName</label> </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="form-group">
                <div class="col-md-2"><label class="control-label">@DocumentsExplorerResources.txtCountry</label></div>
                <div class="col-md-2">
                    @(Html.Kendo().DropDownListFor(c => c.CountryId)
                                      .Name("CountryId")
                                      .DataTextField("Name")
                                      .DataValueField("Id")
                                      .OptionLabel(DocumentsExplorerResources.txtCountrySelectValue)
                                      //.Events(e => { e.Change("onCouncilTypesChange"); })
                                      //.SelectedIndex(1)
                                      .DataSource(source =>
                                      {
                                          source.Read(read => { read.Action("ReadCountries", "CouncilMember"); });
                                      })
                                      .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                    )
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-2"><label class="lbl-in-row"> @DocumentsExplorerResources.txtPosition</label> </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(c => c.Position, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-2"><label class="lbl-in-row"> @DocumentsExplorerResources.txtJoiningDate</label> </div>
                <div class="col-md-2 k-rtl">
                    @(Html.Kendo().DatePickerFor(c => c.JoiningDate)
                                                                         .Name("JoiningDate")
                                                                         .Format("dd/MM/yyyy")
                                                                          .Culture("ar-AE")
                                                                         .Value(DateTime.Now)
                                                                         .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                                                                         .DateInput()
                    )
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-2"><label class="lbl-in-row"> @DocumentsExplorerResources.txtFinishDate</label> </div>
                <div class="col-md-2 k-rtl">
                    @(Html.Kendo().DatePickerFor(c => c.FinishDate)
                                                                                 .Name("FinishDate")
                                                                                 .Format("dd/MM/yyyy")
                                                                                 //.Value(DateTime.Now)
                                                                                 .HtmlAttributes(new { value = "", style = "width: 100%", @class = "form-control" })
                                                                                 .DateInput()
                    )
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-2"><label class="lbl-in-row"> @DocumentsExplorerResources.txtIsActive</label> </div>
                <div class="col-md-2">
                    @Html.RadioButtonFor(model => model.IsActive, true)@Html.Label(SharedResources.txtYes)
                    @Html.RadioButtonFor(model => model.IsActive, false)@Html.Label(SharedResources.txtNo)
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-2"><label class="lbl-in-row"> @DocumentsExplorerResources.txtPhotoPath</label> </div>
                <div class="col-md-2 k-rtl">
                    @(Html.Kendo().Upload()
                                       .Name("Photo")
                                       .Multiple(false)
                                       .Events(events => events.Select("onSelect"))
                                       .HtmlAttributes(new { aria_label = "files", @class = "form-control" })
                    )

                </div>

                <div class="col-md-2">
                    @if (!String.IsNullOrEmpty(Model.PhotoPath))
                    {
                        <img src="@(String.Format("{0}//{1}//{2}",ConfigurationManager.AppSettings["WebsiteURL"],"/AvatarPhotos", Model.PhotoPath))" class="img-circle" width="100" height="100" />
                    }
                    else
                    {
                        <img class="img-circle" style="display:none;" width="100" height="100" />
                    }
                </div>

            </div>
        </div>
    </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-success btn-padding pull-right"><i class="fa fa-save" style="padding-left:4px;"></i>@SharedResources.btnSave</button>
            <button type="submit" class="btn btn-default btn-padding">@SharedResources.btnCancel</button>

        </div>
    }
    <!-- /.box-footer -->
</div>

<script type="text/javascript">



    function onSelect(e) {
        $.each(e.files, function (index, value) {
            readMultipleFiles(value);
        });
    }

    function readMultipleFiles(file) {
        var reader = new FileReader();
        reader.onload = function (e) {
            // bind the file content
            $("img").attr({ src: e.target.result });
            $("img").show();
        }
        reader.readAsDataURL(file.rawFile);
    }

        $(document).ready(function() {
            $("#FinishDate").val('');
        });
</script>