@using DocumentsExplorer.Website.Models;
@using DocumentsExplorerResources = DocumentsExplorer.Website.Resources.DocumentsExplorerResource;
@model DashboardModel
@{
    var s = Model.CouncilReportList.Select(c => c.CouncilDescription).ToArray();
}

<div class="row">
    @foreach (CouncilReportsVM coumcilVm in Model.CouncilReportList)
    {
        <div class="col-md-4 col-sm-6 col-xs-12" id="finicial" style="cursor:pointer;">
            <div class="info-box bg-green-light">
                <span class="info-box-icon"><i class="fa fa-users" aria-hidden="true"></i></span>


                <div class="info-box-content">
                    <span class="info-box-text">&nbsp;</span>
                    <span class="info-box-number">@coumcilVm.CouncilDescription</span>
                    <div class="progress-group">
                        <div class="progress">
                            <div class="progress-bar" style="background-color:#d50f25!important;width: 0.00%"></div>
                        </div>

                    </div>
                    <div class="progress-description">
                        <strong>@string.Format(@DocumentsExplorerResources.txtCouncilReportsCount, coumcilVm.CouncilReportsCount)</strong>
                    </div>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    }



</div>

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12" id="finicial" style="cursor:pointer;">
        <div class="box box-success">
            <div class="box-header with-border" style="padding:14px !important">
                <h3 class="box-title">@DocumentsExplorerResources.titleLoanDecisionChart</h3>
                <div class="col-sm-4 box-tools pull-left">
                   
                </div>
            </div>
            <div class="box-body ">
                <div class="row col-sm-8 ">
                    <div class="col-sm-3"><h5>@DocumentsExplorerResources.txtConferenceYear</h5></div>
                    <div class="col-sm-8 ">
                        @(Html.Kendo().NumericTextBox()
                                                   .Name("NTBLoanforYear")
                                                   .Format("#")
                                                   .Value(2018)
                                                    .Events(e => e
                                                         .Change("NTBLoanforYearChange")
                                                         .Spin("NTBLoanforYearChange")
                                                    )
                                                   .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                        )
                    </div>
                </div>
                <div class="row">
                    <canvas id="LoansCountBySectorsChart" width="400"></canvas>

                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" id="finicial" style="cursor:pointer;">
        <div class="box box-success">
            <div class="box-header with-border" style="padding:14px !important">
                <h3 class="box-title">@String.Format(DocumentsExplorerResources.titleCountryProjectsChart, DateTime.Now.Year)</h3>
                
            </div>
            <div class="box-body ">
                <div class="row">
                    <div class="row col-sm-8">
                        <div class="col-sm-3"><h5>@DocumentsExplorerResources.txtConferenceYear</h5></div>
                        <div class="col-sm-8">
                            @(Html.Kendo().NumericTextBox()
                                                                       .Name("NTBDecsCountryforYear")
                                                                       .Format("#")
                                                                       .Value(2018)
                                                                        .Events(e => e
                                                                             .Change("NTBDecsCountryforYearChange")
                                                                             .Spin("NTBDecsCountryforYearChange")
                                                                        )
                                                                       .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                            )
                        </div>
                    </div>
                    @*<canvas id="CouncilReportsCoutriesFirstYear" width="400"></canvas>*@
                    <div class="row">
                        <canvas id="DecsionsByCoutriesForYear" width="400"></canvas>

                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12" id="finicial" style="cursor:pointer;">
        <div class="box box-success">
            <div class="box-header with-border" style="padding:14px !important">
                <h3 class="box-title">@String.Format(DocumentsExplorerResources.titleSectorDecisionssChart, DateTime.Now.Year)</h3>
                
            </div>
            <div class="box-body ">
                    <div class="row col-sm-8">
                        <div class="col-sm-3"><h5>@DocumentsExplorerResources.txtConferenceYear</h5></div>
                        <div class="col-sm-8">
                            @(Html.Kendo().NumericTextBox()
                                                               .Name("NTBSectorDecisionsforYear")
                                                               .Format("#")
                                                               .Value(2018)
                                                                .Events(e => e
                                                                     .Change("NTBSectorDecisionsforYearChange")
                                                                     .Spin("NTBSectorDecisionsforYearChange")
                                                                )
                                                               .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                            )
                        </div>
                    </div>
                @*<canvas id="CouncilReportsCoutriesFirstYear" width="400"></canvas>*@
                    <div class="row">
                        <canvas id="SectorDecisionsForYearChart" width="400"></canvas>
                    </div>


            </div>

        </div>
    </div>
</div>

@*<div class="row">
   
    <div class="col-md-4 col-sm-12 col-xs-12" id="finicial" style="cursor:pointer;">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">@DocumentsExplorerResources.titleCouncilReportsCountChart</h3>
            </div>
            <div class="box-body ">
                <canvas id="CouncilReportsCoutriesSecondYear" width="400"></canvas>

            </div>

        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" id="finicial" style="cursor:pointer;">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">@DocumentsExplorerResources.titleCouncilReportsCountChart</h3>
            </div>
            <div class="box-body ">
                <canvas id="CouncilReportsCoutriesThirdYear" width="400"></canvas>

            </div>

        </div>
    </div>
</div>*@

<script type="text/javascript">
    var councilReportsCountFirstYear = [];
    var councilReportsCountSecondYear = [];
    var councilReportsCountThirdYear = [];
    var councilReportsCoutriesFirstYearData = [];
    var councilReportsCoutriesFirstYearLabels = [];
    var CompanyLoanDecisionReportLabels = [];
    var CompanyLoanDecisionReportData = [];
    var DecsionsByCoutriesForYearReportLabels = [];
    var DecsionsByCoutriesForYearReportData = [];
    var SectorDecisionsForYearReportLabels = [];
    var SectorDecisionsForYearReportData = [];
    var backGroundColorArray = ["#b8c5b1", "#9f9f8f", "#3f0600", "#929292", "#C2A773", "#7ca42d", "#607f23", "#b8da77", "#1a230a", "#3d5116", "#83867e", "#3f2600", "#393f00", "#f1f8e4" ];
    var labels = [];

    @foreach (var obj in Model.CouncilReportList)
    {
        @:labels.push("@obj.CouncilDescription");
        @:councilReportsCountFirstYear.push(@obj.ReportsCountFirstYear);
        @:councilReportsCountSecondYear.push(@obj.ReportsCountSecondYear);
        @:councilReportsCountThirdYear.push(@obj.ReportsCountThirdYear);
    }

    var councilReportsCountData = {
        labels:labels,
        datasets: [
            {
                type: "bar",
                @*label: "@DateTime.Now.Year",*@
                //label: "2009",
                borderColor: "#b8c5b1",
                backgroundColor: "#b8c5b1",
                data: councilReportsCountFirstYear,
                stack: 1
            },
            {
                type: "bar",
                @*label: "@(DateTime.Now.Year-1)",*@
                //label: "2008",
                borderColor: "#9f9f8f",
                backgroundColor: "#9f9f8f",
                data: councilReportsCountSecondYear,
                stack: 2
            },
            {
                type: "bar",
                @*label: "@(DateTime.Now.Year-2)",*@
                //label: "2007",
                borderColor: "#929292",
                backgroundColor: "#929292",
                data: councilReportsCountThirdYear,
                stack: 3
            }
        ]
    };


    $(document).ready(function () {
        $("#ConfirmDelete").click(function () {
            var grid = $('#Decisiongrid').data("kendoGrid");
            grid.removeRow(row);
            $('#modal-Confirmation-Delete').modal('hide');
        });


       


        ViewLoansChart('@DateTime.Now.Year');

        ViewDecisionsByCountryChart('@DateTime.Now.Year') 

        ViewSectorsDecisionsChart('@DateTime.Now.Year')

    })

    //var councilReportsCountChart = document.getElementById("CouncilReportsCountChart");
    //var myChart = new Chart(councilReportsCountChart, {
    //    type: 'bar',
    //    data: councilReportsCountData,
    //    options: {
    //        legend: {
    //            labels: {
    //                fontFamily: "'DroidArabicKufi','Arial','Helvetica','sans-serif'",
    //            }
    //        },

    //        scales: {
    //            yAxes: [{
    //                ticks: {
    //                    beginAtZero: true
    //                }
    //            }]
    //            , xAxes: [{
    //                ticks: {
    //                    fontFamily: "'DroidArabicKufi','Arial','Helvetica','sans-serif'",
    //                }
    //            }]
    //        }
    //    }
    //});

    //var loansCountBySectorsChart = document.getElementById("LoansCountBySectorsChart");
    //var myChart = new Chart(loansCountBySectorsChart, {
    //    type: 'bar',
    //    data: councilReportsCountData,
    //    options: {
    //        legend: {
    //            labels: {
    //                fontFamily: "'DroidArabicKufi','Arial','Helvetica','sans-serif'",
    //            }
    //        },

    //        scales: {
    //            yAxes: [{
    //                ticks: {
    //                    beginAtZero: true
    //                }
    //            }]
    //            , xAxes: [{
    //                ticks: {
    //                    fontFamily: "'DroidArabicKufi','Arial','Helvetica','sans-serif'",
    //                }
    //            }]
    //        }
    //    }
    //});

    var councilReportsCountFirstForMonth = [2,5,6,7,3,8,15,2,3,6,12,1];
    var councilReportsCountSecondForMonth = [7, 6, 8, 5, 7, 15, 7, 9, 11, 4, 1, 10];
    var councilReportsCountThirdForMonth = [1, 4, 11, 4, 2, 3, 3, 10, 13, 8, 0, 9];

    var councilReportsCountForMonthData = {
        labels: [1,2,3,4,5,6,7,8,9,10,11,12],
        datasets: [
            {
                //type: "line",
                label: "2009",
                borderColor: "#b8c5b1",
                //backgroundColor: "#b8c5b1",
                data: councilReportsCountFirstForMonth,
            },
    {
        type: "line",
        label: "2008",
            borderColor: "#9f9f8f",
                //backgroundColor: "#9f9f8f",
        data: councilReportsCountSecondForMonth,
    },
    {
        type: "line",
        label: "2007",
            borderColor: "#929292",
                //backgroundColor: "#929292",
        data: councilReportsCountThirdForMonth,
    }
        ]
    };

    //var councilReportsCountByMonthChart = document.getElementById("CouncilReportsCountByMonthChart");
    //var councilReportsCountByMonthChart = new Chart(document.getElementById("CouncilReportsCountByMonthChart"), {
    //    type: 'line',
    //    data: councilReportsCountForMonthData,
    //    options: {
    //        legend: {
    //            labels: {
    //                fontFamily: "'DroidArabicKufi','Arial','Helvetica','sans-serif'",
    //            }
    //        },

    //        scales: {
    //            yAxes: [{
    //                ticks: {
    //                    beginAtZero: true,
    //                    fill: false
    //                }
    //            }]
    //            , xAxes: [{
    //                ticks: {
    //                    fontFamily: "'DroidArabicKufi','Arial','Helvetica','sans-serif'",
    //                }
    //            }]
    //        }
    //    }
    //});



    function NTBLoanforYearChange() {
        ViewLoansChart(this.value())
    }

    function NTBDecsCountryforYearChange() {
        ViewDecisionsByCountryChart(this.value())

    }

    function NTBSectorDecisionsforYearChange() {
        ViewSectorsDecisionsChart(this.value())
    }

    function ViewDecisionsByCountryChart(year) {
        DecsionsByCoutriesForYearReportLabels = [];
        DecsionsByCoutriesForYearReportData = [];
        $.ajax({
            type: 'GET',
            url:'@Url.Action("GetEffectedCountries", "Home")',
            //url: "/DocumentsExplorer.Website/Home/GetEffectedCountries",
            data: { year: year },
            dataType: 'json',
            success: function (data) {
                data.forEach(function (item) {

                    DecsionsByCoutriesForYearReportLabels.push(item.CountryName);
                    DecsionsByCoutriesForYearReportData.push(item.DecisionsCount);

                })
                var councilReportsCoutriesFirstYear = new Chart(document.getElementById("DecsionsByCoutriesForYear"), {
                    type: 'doughnut',
                    //animation: false,
                    responsive: true,
                    //maintainAspectRatio: false,
                    data: {
                        labels: DecsionsByCoutriesForYearReportLabels,
                        datasets: [{
                            backgroundColor: backGroundColorArray,
                            data: DecsionsByCoutriesForYearReportData
                        }]
                    },
                    options: {
                        events: ['click'],
                        legend: {
                            display: true,
                            labels: {
                                fontStyle: "normal",
                                fontFamily: "'DroidArabicKufi','Arial','Helvetica','sans-serif'"
                            },
                            //position: 'left'
                        },
                        animation: {
                            animateScale: false,
                            animateRotate: false
                        },
                        tooltips: {
                            //xPadding: 10,
                            //yPadding: 10,
                            //bodyFontStyle: 'normal',
                            mode: 'index',
                            bodyFontFamily: "'DroidArabicKufi','Arial','Helvetica','sans-serif'",

                        }
                    }
                });
            }
        })
    }
    function ViewLoansChart(year) {
        CompanyLoanDecisionReportLabels = [];
        CompanyLoanDecisionReportData = [];
        $.ajax({
            type: 'GET',
             url:'@Url.Action("GetLoanDecisionsByCompany", "Home")',
            //url: "/DocumentsExplorer.Website/Home/GetLoanDecisionsByCompany",
            data: {year: year },
            dataType: 'json',
            success: function (data) {
                data.forEach(function (item) {

                    CompanyLoanDecisionReportLabels.push(item.CompanyName);
                    CompanyLoanDecisionReportData.push(item.DecisionsCount);


                })
                var loansCountBySectorsChart = new Chart(document.getElementById("LoansCountBySectorsChart"), {
                    type: 'doughnut',
                    responsive: true,
                    data: {
                        labels: CompanyLoanDecisionReportLabels,
                        datasets: [{
                            backgroundColor: backGroundColorArray,
                            data: CompanyLoanDecisionReportData
                        }]
                    },
                    options: {
                        events: ['click'],
                        legend: {
                            display: true,
                            labels: {
                                fontStyle: "normal",
                                fontFamily: "'DroidArabicKufi','Arial','Helvetica','sans-serif'",
                                //padding: 15,
                                //boxWidth: 30,
                                //boxHeight: 40
                                //fontColor: 'rgb(255, 99, 132)'
                            },
                            //position: 'left'
                        },
                        animation: {
                            animateScale: false,
                            animateRotate: false
                        },
                        tooltips: {
                            //xPadding: 10,
                            //yPadding: 10,
                            //bodyFontStyle: 'normal',
                            mode: 'index',
                            bodyFontFamily: "'DroidArabicKufi','Arial','Helvetica','sans-serif'",

                        }
                    }
                });
                //var loansCountBySectorsChart = new Chart(document.getElementById("LoansCountBySectorsChart"), {
                //    type: 'bar',
                //    data: {
                //        labels: CompanyLoanDecisionReportLabels,
                //        datasets: [{
                //            label: '# of Votes',
                //            backgroundColor: backGroundColorArray,
                //            data: CompanyLoanDecisionReportData
                //        }]
                //    },
                //    //data: test,
                //    options: {
                //        legend: {
                //            labels: {
                //                fontFamily: "'DroidArabicKufi','Arial','Helvetica','sans-serif'",
                //            }
                //        },

                //        scales: {
                //            yAxes: [{
                //                ticks: {
                //                    beginAtZero: true
                //                }
                //            }]

                //        }
                //    }
                //});
            }
        })
    }

    function ViewSectorsDecisionsChart(year) {
        SectorDecisionsForYearReportLabels = [];
        SectorDecisionsForYearReportData = [];
        $.ajax({
            type: 'GET',
            //url: "/DocumentsExplorer.Website/Home/GetSectorsDecisions",
            url:'@Url.Action("GetSectorsDecisions", "Home")',
            data: { year: year },
            dataType: 'json',
            success: function (data) {
                data.forEach(function (item) {

                    SectorDecisionsForYearReportLabels.push(item.SectorName);
                    SectorDecisionsForYearReportData.push(item.DecisionsCount);


                })
                var sectorDecisionsForYearChart = new Chart(document.getElementById("SectorDecisionsForYearChart"), {
                    type: 'doughnut',
                    responsive: true,
                    data: {
                        labels: SectorDecisionsForYearReportLabels,
                        datasets: [{
                            backgroundColor: backGroundColorArray,
                            data: SectorDecisionsForYearReportData
                        }]
                    },
                    options: {
                        events: ['click'],
                        legend: {
                            display: true,
                            labels: {
                                fontStyle: "normal",
                                fontFamily: "'DroidArabicKufi','Arial','Helvetica','sans-serif'",
                                //padding: 15,
                                //boxWidth: 30,
                                //boxHeight: 40
                                //fontColor: 'rgb(255, 99, 132)'
                            },
                            //position: 'left'
                        },
                        animation: {
                            animateScale: false,
                            animateRotate: false
                        },
                        tooltips: {
                            //xPadding: 10,
                            //yPadding: 10,
                            //bodyFontStyle: 'normal',
                            mode: 'index',
                            bodyFontFamily: "'DroidArabicKufi','Arial','Helvetica','sans-serif'",

                        }
                    }
                });
            }
        });
    }
</script>