
@using DocumentsExplorer.DTO;
@using DocumentsExplorerResources = DocumentsExplorer.Website.Resources.DocumentsExplorerResource;
@using SharedResources = DocumentsExplorer.Website.Resources.SharedResource;
@model DecisionDTO

<script>
    function departmentCustomPlaceholder(draggedItem) {
        return draggedItem
                .clone()
                .addClass("custom-placeholder")
                .removeClass("k-ghost");
    }

    function GetModelId() {
        return
        {
            modeId: '@Model.Id'
          };
    }
</script>
<div id="divDepartments" @*style="display:none;"*@>
    <div class="col-md-6" style="height: 400px !important;">
            <div class="form-group">
                <div><label class="control-label"> @DocumentsExplorerResources.txtDepartments</label> </div>
                <div>
                    @(Html.Kendo().ListBox()
                      .Name("departmentOptional")
                      .DataTextField("Name")
                      .DataValueField("Id")
                      .Draggable(draggable => draggable.Placeholder("departmentCustomPlaceholder"))
                      .DropSources("departmentSelected")
                      .ConnectWith("departmentSelected")
                      .Toolbar(toolbar =>
                      {
                          toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Left);
                          toolbar.Tools(tools => tools
                              .MoveUp()
                              .MoveDown()
                              .TransferTo()
                              .TransferFrom()
                              .TransferAllTo()
                              .TransferAllFrom()
                              .Remove());
                      })
                      .BindTo(ViewBag.AllDepartments)
                    )

                    @(Html.Kendo().ListBox()
                                    .Name("departmentSelected")
                                   .Toolbar(toolbar =>{toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Left);})
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .Draggable(draggable => draggable.Placeholder("departmentCustomPlaceholder"))
                                    .DropSources("departmentOptional")
                                    .ConnectWith("departmentOptional")
                                    .BindTo(Model.Departments)
                    )
                </div>
            </div>
    </div>
</div>
<script id="company-item-template" type="text/x-kendo-template">
    <span class="k-state-default" style="background-image: url('@Url.Content("~/Content/Flags/")#= data.CountryId #.png')"></span>
    <span class="k-state-default"><h3>#= data.Name #</h3><p>#= data.ActivitySectorsName #</p></span>
</script>



<style>
    #divDepartments .k-listbox
    {
        width: 326px;
        height: 310px;
    }

    #divDepartments .k-listbox:first-child
    {
        width: 360px;
        margin-right: 1px;
    }

    .k-ghost
    {
        display: none !important;
    }

    .custom-placeholder
    {
        opacity: 0.4;
    }

    #divDepartments .k-item
    {
        line-height: 1em;
        margin-bottom: 10px;
        margin-bottom: 10px;
    }

    /* Material Theme padding adjustment*/

    .k-material #divDepartments .k-item,
    .k-material #divDepartments .k-item.k-state-hover,
    .k-materialblack #divDepartments .k-item,
    .k-materialblack #divDepartments .k-item.k-state-hover
    {
        padding-left: 5px;
        border-left: 0;
    }

    .k-item > span
    {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: table-cell;
        vertical-align: top;
        margin: 20px 10px 10px 5px;
    }

    #divDepartments .k-item > span:first-child,
    .k-item.k-drag-clue > span:first-child
    {
        -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
        -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
        box-shadow: inset 0 0 30px rgba(0,0,0,.3);
        margin: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #divDepartments h3,
    .k-item.k-drag-clue h3
    {
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 0 1px 0;
        padding: 0;
    }

    #divDepartments p
    {
        margin: 0;
        padding: 0;
        font-size: .8em;
    }

    .k-i-arrow-60-right:before,
    .k-i-arrow-double-60-right:before
    {
        margin-left: -2px;
    }

    .k-i-arrow-60-right:before, .k-i-arrow-60-left:before,
    .k-i-arrow-double-60-right:before, .k-i-arrow-double-60-left:before
    {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
</style>

