@using DocumentsExplorer.DTO;
@using DocumentsExplorerResources = DocumentsExplorer.Website.Resources.DocumentsExplorerResource;
@using SharedResources = DocumentsExplorer.Website.Resources.SharedResource;
@using System.Threading;
@using DocumentsExplorer.Website.Helper;
@model DecisionDTO

@{
    var lang = (Thread.CurrentThread.CurrentUICulture.Name == "ar-AE");
}

<style>
    .valign
    {
        font-size: 0;
    }

    .valign > [class*="col"]
    {
        display: inline-block;
        float: none;
        font-size: 14px;
        vertical-align: middle;
    }
</style>

<!-- /.box-header -->
<!-- form start -->
@using (Html.BeginForm("Create", "Decision", FormMethod.Post,
                                  new { enctype = "multipart/form-data", @id = "DecisionCreateFormId" }))
{
    <div class="box box-success">
        <div class="box-header with-border">
            @if (Model.Id == 0)
            {
                <h3 class="box-title"><i class="fa fa-info"></i> @DocumentsExplorerResources.txtNewDecisionTitle</h3>
            }
            else
            {
                <h3 class="box-title"><i class="fa fa-info"></i> @DocumentsExplorerResources.txtEditDecision</h3>
            }
        </div>
        <div class="box-body">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(c => c.Id)
            @Html.HiddenFor(c => c.CreateDate)
            @Html.HiddenFor(c => c.CreatedBy)
            @Html.HiddenFor(c => c.DecisionAnnexPath)
            @Html.HiddenFor(c => c.DecisionPath)
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div><label class="control-label">@DocumentsExplorerResources.txtCouncilTypeDescription</label></div>
                            <div>
                                @(Html.Kendo().DropDownList()
                                    .Name("CouncilTypes")
                                    .DataTextField("Description")
                                    .DataValueField("Id")
                                    .OptionLabel(DocumentsExplorerResources.txtCouncilTypeSelectValue)
                                    //.Events(e => { e.Change("onCouncilTypesChange"); })
                                    //.SelectedIndex(1)
                                    .DataSource(source =>
                                    {
                                        source.Read(read => { read.Action("ReadCouncilTypes", "Decision"); });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                                )
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtMainCategory</label> </div>
                            <div>
                                @(Html.Kendo().DropDownList()
                                                                                                                          .Name("MainCategories")
                                                                                                                            .DataTextField("Description")
                                                                                                                            .DataValueField("Id")
                                                                                                                             .OptionLabel(DocumentsExplorerResources.txtMainCategorySelectValue)
                                                                                                                            .DataSource(source =>
                                                                                                                            {
                                                                                                                                source.Read(read => { read.Action("ReadMainCategories", "Decision").Data("filterMainCategories"); })
                                                                                                                                 .ServerFiltering(true);

                                                                                                                            })
                                                                                                                            .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                                                                                                                           .AutoBind(false)
                                                                                                                            .CascadeFrom("CouncilTypes")
                                )
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtSubCategory</label> </div>
                            <div>
                                @(Html.Kendo().DropDownListFor(c => c.SubCategoryId)
                                                                                                                             .Name("SubCategoryId")
                                                                                                                             .DataTextField("Description")
                                                                                                                             .DataValueField("Id")
                                                                                                                              .OptionLabel(DocumentsExplorerResources.txtSubCategorySelectValue)
                                                                                                                             .DataSource(source =>
                                                                                                                             {
                                                                                                                                 source.Read(read => { read.Action("ReadSubCategories", "Decision").Data("filterSubCategories"); })
                                                                                                                                  .ServerFiltering(true);

                                                                                                                             })
                                                                                                                             .AutoBind(false)
                                                                                                                             .Events(evt => evt.Change("OnSubCategoryChange"))
                                                                                                                             .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                                                                                                                            .AutoBind(false)
                                                                                                                             .CascadeFrom("MainCategories")
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row equal">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtDecisionSubject</label> </div>
                            <div>
                                @Html.TextAreaFor(c => c.Subject, new { cols = "25", rows = "5", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label class="control-label"> @DocumentsExplorerResources.txtDecisionType</label> </div>
                                    <div>
                                        @(Html.Kendo().DropDownListFor(c => c.DecisionTypeId)
                                                                                                                                           .Name("DecisionTypeId")
                                                                                                                                           .DataTextField("Name")
                                                                                                                                           .DataValueField("Id")
                                                                                                                                           .OptionLabel(DocumentsExplorerResources.txtDecisionTypeSelectValue)
                                                                                                                                           .DataSource(source =>
                                                                                                                                           {
                                                                                                                                               source.Read(read => { read.Action("ReadDecisionTypes", "Decision"); });
                                                                                                                                           })
                                                                                                                                           .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label class="control-label"> @DocumentsExplorerResources.txtDecisionNO</label> </div>
                                    <div>
                                        @Html.TextBoxFor(c => c.DecisionNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label class="control-label"> @DocumentsExplorerResources.txtConferenceYear</label> </div>
                                    <div class="k-rtl">
                                        @(Html.Kendo().NumericTextBoxFor(c => c.ConferenceYear)
                                                                                                                                                                                                    .Format("#")
                                                                                                                                                                                                        .Name("ConferenceYear")
                                                                                                                                                                                                        .Value(2018)
                                                                                                                                                                                                        .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div><label class="control-label"> @DocumentsExplorerResources.txtDecisionReference</label> </div>
                                    <div>
                                        @(Html.Kendo().DropDownListFor(c => c.ReferenceDecisionId)
                                                                                                                                         .Name("ReferenceDecisionId")
                                                                                                                                   .DataTextField("DecisionDescription")
                                                                                                                                   .DataValueField("Id")
                                                                                                                                    .OptionLabel(DocumentsExplorerResources.txtReferenceDecisionSelectValue)
                                                                                                                                     .Filter("contains")
                                                                                                                                   .DataSource(source =>
                                                                                                                                   {
                                                                                                                                       source.Read(read => { read.Action("ReadReferenceDecisions", "Decision"); }).ServerFiltering(true);
                                                                                                                                   })
                                                                                                                                   .Events(evt => evt.Change("OnReferenceDecisionChange"))
                                                                                                                                   .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                                                                                                                                  .AutoBind(true)
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group ">
                                    <div><label class="control-label"> @DocumentsExplorerResources.txtDecisionReference</label> </div>

                                    <div class="row valign">
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(c => c.DecisionReference, new { @class = "form-control" })
                                            @Html.Hidden("DecisionReferenceFilePath")
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-preview" style="display:none;" id="DecisionReferencePreviewFile" target='_blank' href=''><i class='fa fa-search'></i> @DocumentsExplorerResources.txtDecisionReferencePreview</a>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtCountry</label> </div>
                            <div>
                                @(Html.Kendo().DropDownListFor(c => c.CountryId)
                                                                                                                                                      .Name("CountryId")
                                                                                                                                                      .DataTextField("Name")
                                                                                                                                                      .DataValueField("Id")
                                                                                                                                                       .OptionLabel(DocumentsExplorerResources.txtCountrySelectValue)
                                                                                                                                                        .Filter("contains")
                                                                                                                                                      .DataSource(source =>
                                                                                                                                                      {
                                                                                                                                                          source.Read(read => { read.Action("ReadCountries", "Decision"); }).ServerFiltering(true);
                                                                                                                                                      })
                                                                                                                                                      .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                                                                                                                                                     .AutoBind(true)
                                )
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtSector</label> </div>
                            <div class="k-rtl">
                                @(Html.Kendo().MultiSelectFor(c => c.SelectedSectors)
                                          .Name("SelectedSectors")
                                          .DataTextField("Name")
                                          .DataValueField("Id")
                                          .Value(Model.ActivitySectors)
                                           .DataSource(source =>
                                           {
                                               source.Read(read =>
                                               {
                                                   read.Action("ReadActivitySectors", "Decision");
                                               })
                                               .ServerFiltering(true);
                                           })
                                          .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                                )
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtConferenceIndex</label> </div>
                            <div>
                                @Html.TextBoxFor(c => c.ConferenceIndex, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtConferenceNumber</label> </div>
                            <div>
                                @Html.TextBoxFor(c => c.ConferenceNumber, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtConferenceLocation</label> </div>
                            <div>
                                @Html.TextBoxFor(c => c.ConferenceLocation, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class=""><label class="control-label"> @DocumentsExplorerResources.txtConferenceDate</label> </div>
                            <div class="k-rtl">
                                @(Html.Kendo().DatePickerFor(c => c.ConferenceDate)
                                                                                  .Name("ConferenceDate")
                                                                                   .Format("dd/MM/yyyy")
                                                                                   .Value(new DateTime(DateTime.Now.Year, 12, 31))
                                                                                  //.Value(DateTime.Now.ToString("MM/dd/yyyy"))
                                                                                  .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                                                                                  .DateInput()
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtSuggestedExecutionDate</label> </div>
                            <div class="k-rtl">
                                @(Html.Kendo().DatePickerFor(c => c.SuggestedExecutionDate)
                                                                                          .Name("SuggestedExecutionDate")
                                                                                           .Format("dd/MM/yyyy")
                                                                                          //.Value(new DateTime(DateTime.Now.Year, 12, 31))
                                                                                          //.Value(DateTime.Now.ToString("MM/dd/yyyy"))
                                                                                          .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                                                                                          .DateInput()
                                )
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtParagraphIndex</label> </div>
                            <div>
                                @Html.TextBoxFor(c => c.ParagraphIndex, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtKeyWords</label> </div>
                            <div>
                                @Html.TextBoxFor(c => c.keyWords, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @Html.Partial("_BudgetSection", Model)
            @Html.Partial("_InvestmentSection", Model)

            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-4">
                        <div class="form-group">
                            <div class=""><label class="control-label"> @DocumentsExplorerResources.txtDecisionPath</label> </div>
                            <div class=" k-rtl col-md-10">
                                @(Html.Kendo().Upload()
                                  .Name("files")
                                  //           .Async(a => a
                                  //    .Save("Async_Save", "Decision")
                                  //    .Remove("Async_Remove", "Decision")
                                  //    .AutoUpload(true)
                                  //)
                                  .Multiple(false)
                                  .HtmlAttributes(new { aria_label = "files", @class = "form-control" })
                                )
                            </div>

                            @if (Model.Id != 0)
                            {
                                <div class="col-md-1">
                                    <a href="@Url.Action("Preview", "Decision", new { fileName = Model.DecisionPath})"
                                       id="PreviewPDf"
                                       target="_blank">
                                        <span class="btn btn-preview"><i class="fa fa-search"></i> </span>
                                    </a>
                                </div>
                                <div class="col-md-1">
                                    <a href="@Url.Action("Download", "Decision", new { fileName = Model.DecisionPath})"
                                       id="DownloadPDf">
                                        <span class="btn btn-preview"><i class="fa fa-download"></i></span>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-users"></i> @DocumentsExplorerResources.txtAffectedParties</h3>
        </div>
        <div class="box-body">
            <div class="row">
                @Html.Partial("_company", Model)
                @Html.Partial("_departments", Model)
            </div>
        </div>
    </div>

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa  fa-file-text-o"></i> @DocumentsExplorerResources.txtDecisionText</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtDecisionText</label> </div>
                            <div class="k-rtl">
                                @(Html.Kendo().EditorFor(c => c.DecisionText)
                                                                            .Name("DecisionText")
                                                                            .HtmlAttributes(new { style = "width: 100%;height:440px" })
                                                                            .Tools(tools => tools
                                                                            .Clear()
                                                                            .Bold().Italic().Underline().Strikethrough()
                                                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                                            .InsertUnorderedList().InsertOrderedList()
                                                                            .Outdent().Indent()
                                                                            .CreateLink().Unlink()
                                                                            .TableEditing()
                                                                            .ViewHtml()
                                                                            .Formatting()
                                                                            .CleanFormatting()
                                                                            .FontName()
                                                                            .FontSize()
                                                                            .FontColor().BackColor()
                                                                            .Print()
                                                                            ))
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-gears"></i> @DocumentsExplorerResources.txtDecisionExecution</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtDecisionStatus</label> </div>
                            <div class="k-rtl">
                                @*@Html.DropDownListFor(model => model.DecisionStatus, EnumHelper<EnumDecisionStatus>.GetSelectList(), new { @class = "form-control"@*, data_live_search = "true"})*@
                                @(Html.Kendo().DropDownListFor(model => model.DecisionStatus)
                                                             .DataTextField("Text")
                                                               .DataValueField("Value")
                                                            .Name("DecisionStatus")
                                                            .SelectedIndex((int)Model.DecisionStatus)
                                                            .BindTo(EnumHelper<EnumDecisionStatus>.GetSelectList())
                                                            .HtmlAttributes(new { style = "width: 100%", @class = "form-control" }))
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtExecutionNotes</label> </div>
                            <div>
                                @Html.TextAreaFor(c => c.ExecutionNotes, new { @class = "form-control", @row = 2 })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div><label class="control-label"> @DocumentsExplorerResources.txtDecisionAnnexPath</label> </div>
                            <div class=" k-rtl col-md-10">
                                @(Html.Kendo().Upload()
                                                                                                                   .Name("decisionAnnexFiles")
                                                                                                                   .Multiple(false)
                                                                                                                   .HtmlAttributes(new { aria_label = "decisionAnnexFiles", @class = "form-control" })
                                )
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-preview" style="display:none;" id="AnnexPreviewFile" target='_blank' href=''><i class='fa fa-search'></i> </a>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-preview" style="display:none;" id="AnnexdownloadFile" target='_blank' href=''><i class='fa fa-download'></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer">
            @*@if (Model.Id != 0)
        {
            <a href="@Url.Action("Preview", "Decision", new { fileName = Model.DecisionPath})"
               id="PreviewPDf"
               target="_blank">
                <span class="btn btn-success"><i class="fa fa-search"></i> @String.Format("{0} {1}", SharedResources.txtPreview, DocumentsExplorerResources.txtDecisionPath)</span>
            </a>

            <a href="@Url.Action("Download", "Decision", new { fileName = Model.DecisionPath})"
               id="DownloadPDf">
                <span class="btn btn-success"><i class="fa fa-download"></i> @String.Format("{0} {1}", SharedResources.txtDownload, DocumentsExplorerResources.txtDecisionPath)</span>
            </a>
        }*@
            @if (User.IsInRole("DepartmentCoordinator"))
            {
                <button type="submit" class="btn btn-success btn-padding pull-right"><i class="fa fa-save" style="padding-left:4px;"></i>@SharedResources.btnSave</button>
                <button type="submit" class="btn btn-default btn-padding">@SharedResources.btnCancel</button>
            }


        </div>
    </div>
}
<script type="text/javascript">

    $(document).ready(function () {
        ViewSection();
        //ShowCompanyDetails();
        kendo.culture("ar-AE");
        var councilTypedropdownlist = $("#CouncilTypes").data("kendoDropDownList");
        councilTypedropdownlist.value(@Model.CouncilTypeId);
        var mainCategorydropdownlist = $("#MainCategories").data("kendoDropDownList");
        mainCategorydropdownlist.value(@Model.MainCategoryId);
        if ($("#ReferenceDecisionId").data("kendoDropDownList").value() != "") {
            PreviewRefernceDecision();
        }

        if ('@Model.DecisionAnnexPath' != "") {
            var link = '@Url.Action("Preview", "Decision", new { fileName = "-1" })';
            link = link.replace("-1", '@Model.DecisionAnnexPath');
            $("#AnnexPreviewFile").attr("href", link);
            $("#AnnexPreviewFile").attr("target", "_blank");
            $("#AnnexPreviewFile").show();

            var downloadlink = '@Url.Action("Download", "Decision", new { fileName = "-1" })';
            downloadlink = downloadlink.replace("-1", '@Model.DecisionAnnexPath');
            $("#AnnexdownloadFile").attr("href", downloadlink);
            $("#AnnexdownloadFile").attr("target", "_blank");
            $("#AnnexdownloadFile").show();
        }
        else {
            $("#AnnexPreviewFile").hide();
            $("#AnnexdownloadFile").hide();
        }

        //$("#optional").data("kendoListBox").dataSource.Read({ modeId: 'optional' });
    })

    function PreviewRefernceDecision() {
        $.ajax({
            url: '@Url.Action("GetReferenceDecision", "Decision")',
            dataType: "json",
            type: "Post",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                referenceDecisionId: $("#ReferenceDecisionId").data("kendoDropDownList").value()
            }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                $("#DecisionReferenceFilePath").val(data.DecisionPath);
                if (data.DecisionPath != "") {
                    var link = '@Url.Action("Preview", "Decision", new { fileName = "-1" })';
                    link = link.replace("-1", data.DecisionPath);
                    $("#DecisionReferencePreviewFile").attr("href", link);
                    $("#DecisionReferencePreviewFile").attr("target", "_blank");
                    $("#DecisionReferencePreviewFile").show();
                }
                else
                    $("#DecisionReferencePreviewFile").hide();
            },
            error: function (xhr) {
                //alert('error');
            }
        });
              }

    function filterMainCategories() {
        return {
            councilTypeId: $("#CouncilTypes").val()
        };
    }


    function filterSubCategories() {
        return {
            mainCategoryId: $("#MainCategories").val()
        };
    }



    function OnSubCategoryChange() {
        ViewSection();
    }

    function OnReferenceDecisionChange() {
        $("#DecisionReference").val($("#ReferenceDecisionId").data("kendoDropDownList").text())
        if ($("#ReferenceDecisionId").data("kendoDropDownList").value() != "") {
            PreviewRefernceDecision();
        }
        else {
            $("#DecisionReferencePreviewFile").hide();
            $("#DecisionReference").val("")
        }
    }

    function ViewSection() {
         $.ajax({
            url: '@Url.Action("GetSubCategory", "Decision")',
            dataType: "json",
            type: "Post",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                subCategoryId: $("#SubCategoryId").val()
            }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data.NeedCompanyField == 1) {
                    $("#divCompany").show();
                    $("#divBudgetSection").hide();
                    $("#divInvestmentSection").hide();
                }
                else if (data.NeedBudgetFields == 1) {
                    //$("#divCompany").hide();
                    $("#divBudgetSection").show();
                    $("#divInvestmentSection").hide();
                }
                else if (data.NeedInvestmentProgramFields == 1) {
                    //$("#divCompany").hide();
                    $("#divBudgetSection").hide();
                    $("#divInvestmentSection").show();

                }
                else {
                    //$("#divCompany").hide();
                    $("#divBudgetSection").hide();
                    $("#divInvestmentSection").hide();
                }
            },
            error: function (xhr) {
                //alert('error');
            }
        });
    }

    var countryImagePath = '@Url.Content("~/Content/Flags/")';

    function OnCompanyChange() {
        ShowCompanyDetails();
    }

    function ShowCompanyDetails() {
        if ($("#CompanyId").val() != 0) {
            $("#divCompanyDescription").show();
            $.ajax({
                url: '@Url.Action("GetCompany", "Decision")',
                dataType: "json",
                type: "Post",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    companyId: $("#CompanyId").val()
                }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    FillCompanyDescription(data);
                },
                error: function (xhr) {
                    //alert('error');
                }
            });
        }
        else {
            $("#divCompanyDescription").hide();
        }
    }

    function FillCompanyDescription(data) {
        $("#Company_Title").text(data.Name);
        $("#spanCountryName").text(data.CountryName);
        $("#spanSectors").text(data.ActivitySectorsName);
        $("#spanDateOfIncorporation").text(data.DateOfIncorporationString);
        $("#spanActivityDescription").text(data.Description);
        var path =  countryImagePath + data.CountryId + ".png";
        $('#CountryFlag').attr('src', path);
    }


</script>
