@using Kendo.Mvc.UI;
@using DocumentsExplorer.DTO;
@using DocumentsExplorerResource = DocumentsExplorer.Website.Resources.DocumentsExplorerResource;
@using SharedResource = DocumentsExplorer.Website.Resources.SharedResource;
@{
    ViewBag.Title = String.Format(DocumentsExplorerResource.txtViewCouncilReports, ViewBag.councilName);
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-filter"></i>@SharedResource.txtFilterCriteria</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2"><label class="lbl-in-row">@DocumentsExplorerResource.txtCouncilTypeDescription</label></div>
                    <div class="col-md-2">
                        @(Html.Kendo().DropDownList()
                                                                            .Name("MainCategories")
                                                                            .DataTextField("Description")
                                                                            .DataValueField("Id")
                                                                             .OptionLabel(DocumentsExplorerResource.txtMainCategorySelectValue)
                                                                            .Events(e => { e.Change("onMainCategoriesChange"); })
                                                                            .DataSource(source =>
                                                                            {
                                                                                source.Read(read => { read.Action("ReadMainCategories", "Decision").Data("filterMainCategories"); })
                                                                                 .ServerFiltering(true);

                                                                            })
                                                                            .HtmlAttributes(new { style = "width: 100%" })
                                                                           .AutoBind(true)
                        )
                    </div>

                    @*<div class="col-md-2"><label class="lbl-in-row"> @DocumentsExplorerResource.txtSubCategory</label> </div>
            <div class="col-md-2">
                @(Html.Kendo().DropDownList()
                                                    .Name("SubCategories")
                                                    .DataTextField("Description")
                                                    .DataValueField("Id")
                                                     .OptionLabel(DocumentsExplorerResource.txtMainCategorySelectValue)
                                                    .Events(e => { e.Change("onMainCategoriesChange"); })
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read => { read.Action("ReadMainCategories", "Decision").Data("filterMainCategories"); })
                                                         .ServerFiltering(true);

                                                    })
                                                    .HtmlAttributes(new { style = "width: 100%" })
                                                   .AutoBind(false)
                                                    .CascadeFrom("CouncilTypes")
                )
            </div>*@
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <label class="lbl-in-row">@DocumentsExplorerResource.txtSearch</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBox("txtSearch", "", new { @id = "txtSearch", @onKeyUp = "onchangetxtSearch();", @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <label class="lbl-in-row">@DocumentsExplorerResource.txtDecisionNO</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBox("txtDecisionNO", "", new { @id = "txtDecisionNO", @onKeyUp = "onchangetxtSearch();", @class = "form-control" })
                    </div>
                    <div class="col-xs-1">
                        <label class="lbl-in-row">@DocumentsExplorerResource.txtConferenceYear</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBox("txtConferenceYear", "", new { @id = "txtConferenceYear", @onKeyUp = "onchangetxtSearch();", @class = "form-control" })
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-lg-12">
        <div class="k-rtl">
            @Html.Partial("_DecisionGrid")
        </div>
    </div>
</div>

<script type="text/javascript">
    var councilTypeId = '@ViewBag.councilId';
    function additionalInfo() {
        var mainCategoryId = 0
        if ($("#MainCategories").data("kendoDropDownList").value() != "")
            mainCategoryId = $("#MainCategories").data("kendoDropDownList").value();
        return {
            councilTypeId: councilTypeId,
            mainCategoryId: mainCategoryId,
            txtSerach: $("#txtSearch").val(),
            decisionNO: $("#txtDecisionNO").val(),
            conferenceYear: $("#txtConferenceYear").val()
        }
    }


    function onMainCategoriesChange() {
        RefreshGrid()
    }
    function onchangetxtSearch() {
        RefreshGrid()
    }


    function RefreshGrid() {
        $('#Decisiongrid').data("kendoGrid").dataSource.read();
        $('#Decisiongrid').data("kendoGrid").refresh();
    }

    function filterMainCategories() {
        return {
            councilTypeId: councilTypeId
        };
    }
</script>