@using SharedResources = DocumentsExplorer.Website.Resources.SharedResource;
@using DocumentsExplorerResources = DocumentsExplorer.Website.Resources.DocumentsExplorerResource;
@using DocumentsExplorer.Model.Models;

@model List<CouncilType>
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
            <a href="#">
                <i class="fa fa-university"></i> <span>@DocumentsExplorerResources.TreeNodeDecisions</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-left"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href='@Url.Action("Index","Decision")'>
                        <i class="fa fa-server"></i> <span>@SharedResources.menuViewAllDecisions</span>
                    </a>
                </li>
                @foreach (var council in Model)
                {
                    <li>
                        <a href="@Url.Action("ViewCouncilDecisions","Decision", new { councilId = council.Id})" role="button">
                            <i class="fa fa-list-ol"></i> <span>@String.Format(DocumentsExplorerResources.txtViewCouncilReports, council.Description)</span>
                        </a>
                    </li>
                }

                <li>
                    <a href='@Url.Action("Create","Decision")'>
                        <i class="fa fa-plus"></i> <span>@DocumentsExplorerResources.txtNewDecisionTitle</span>
                    </a>
                </li>
            </ul>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>@DocumentsExplorerResources.TreeNodeCouncilMemebers</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "CouncilMember")" role="button">
                            <i class="fa fa-list"></i> <span>@DocumentsExplorerResources.txtViewAllCouncilMemebers</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "CouncilMember")" role="button">
                            <i class="fa fa-plus"></i> <span>@DocumentsExplorerResources.txtNewCouncilMemberTitle</span>
                        </a>
                    </li>
                </ul>
            </li>
        }
        @if (User.IsInRole("MinutesOfMeetingEditor"))
        {

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i> <span>@DocumentsExplorerResources.TreeNodeMinutesOfMeeting</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index","MinutesOfMeeting")" role="button">
                            <i class="fa fa-list"></i> <span>@DocumentsExplorerResources.txtViewAllMinutesOfMeeting</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create","MinutesOfMeeting")" role="button">
                            <i class="fa fa-plus"></i> <span>@DocumentsExplorerResources.txtNewMinutesOfMeetingTitle</span>
                        </a>
                    </li>
                </ul>
            </li>
        }
        @if (User.IsInRole("Admin"))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-recycle"></i> <span>@DocumentsExplorerResources.TreeNodeRounds</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "Round")" role="button">
                            <i class="fa fa-list"></i> <span>@DocumentsExplorerResources.txtViewAllRounds</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Round")" role="button">
                            <i class="fa fa-plus"></i> <span>@DocumentsExplorerResources.txtNewRoundTitle</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i> <span>@DocumentsExplorerResources.TreeNodeSectores</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "ActivitySector")" role="button">
                            <i class="fa fa-list"></i> <span>@DocumentsExplorerResources.txtViewAllActivitySectors</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bookmark-o"></i> <span>@DocumentsExplorerResources.TreeNodeDecisionTypes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "DecisionType")" role="button">
                            <i class="fa fa-list"></i> <span>@DocumentsExplorerResources.txtViewAllDecisionTypes</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-building-o"></i> <span>@DocumentsExplorerResources.TreeNodeDepartments</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "Department")" role="button">
                            <i class="fa fa-list"></i> <span>@DocumentsExplorerResources.TreeNodeDepartments</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user-plus"></i> <span>@DocumentsExplorerResources.TreeNodeDepartmentResponsibles</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "DepartmentResponsible")" role="button">
                            <i class="fa fa-list"></i> <span>@DocumentsExplorerResources.TreeNodeDepartmentResponsibles</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-building"></i> <span>@DocumentsExplorerResources.TreeNodeCompanies</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "Company")" role="button">
                            <i class="fa fa-list"></i> <span>@DocumentsExplorerResources.txtViewAllCompanies</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Create", "Company")" role="button">
                            <i class="fa fa-plus"></i> <span>@DocumentsExplorerResources.txtNewCompanyTitle</span>
                        </a>
                    </li>
                </ul>
            </li>
        }
    </ul>
</section>
