@using System.Threading
@using DocumentsExplorer.Website.Models
@using DocumentsExplorerResource = DocumentsExplorer.Website.Resources.DocumentsExplorerResource;
@model LoginViewModel
@{
    //ViewBag.Title = @DocumentsExplorerResource.txtLogInTitle;
    var lang = (Thread.CurrentThread.CurrentUICulture.Name);
}


<div class="row">
    <div class="col-md-4 col-md-offset-4" >
        <img  src="~/Content/images/ar.png" style="width:200px; display:block; margin:auto; margin-bottom:15px"/>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title"> @DocumentsExplorerResource.txtLogInTitle</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            <div class="box-body">
                <div id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    @*@Html.Label(@DocumentsExplorerResource.txtUserName, new { @class = "col-md-2 control-label" })*@
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @DocumentsExplorerResource.txtUserName })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group ">
                                    @*@Html.Label(@DocumentsExplorerResource.txtPassword, new { @class = "col-md-2 control-label" })*@
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = @DocumentsExplorerResource.txtPassword })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 ">
                                <div class="form-group">
                                    <div class="">
                                        <input type="submit" value="@DocumentsExplorerResource.txtLogInTitle" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>*@
                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                    }
                </div>
            </div>

        </div>
    </div>


    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
